body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.yellow{
    color: orange;
}
h1{
  font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom:150px ;
}
.paragraph{
    width: 50%;
    padding: 3%;
   }
   h2{
       font-size: 40px;
   }
.paragraph img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight:700;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.part-two{
    background-image: url(IMAGES/dream-bg.png);   
    background-repeat: no-repeat; 
    background-position: right;
}
.recomended{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray ;
    border-radius: 5px;
   
}
.recommended-anime{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#erased{
    border-left: 7px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#onepunchman{
    border-left: 7px solid;
    border-image:linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}